.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 50px;
    color:aliceblue;
    text-transform: uppercase;
    text-size-adjust: x-large;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}
